/vendor
/.idea
/.vscode
/*.code-workspace
.DS_Store
Thumbs.db
error_log
*.log
/.env
/dienmaypro.nguyenanhquy.id.vn.zip
/dienmaypro.nguyenanhquy.id.vn/
/scratch/
/.agents/
/.continue/
/.roo/
/storage/logs/*.log
/storage/cache/*
/mobile_app/.dart_tool/
/mobile_app/.flutter-plugins
/mobile_app/.flutter-plugins-dependencies
/mobile_app/.packages
/mobile_app/build/
/core/config_api.php
