<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 1. Nếu file hoặc thư mục tồn tại thật sự thì cho qua luôn
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 2. Chuyển vào thư mục public (Tránh lặp lại nếu đã có public/)
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>

php_value display_errors On
php_value date.timezone Asia/Ho_Chi_Minh
